.burger {
    display: none;
    cursor: pointer;
}

/* .burger-flex {
    display: flex;
    flex-direction: column;
    justify-self: end;
} */

.bar {
    display: block;
    width: 25px;
    margin-top: 5px;
    height: 3px;
    /* margin: 5px auto; */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222;
}



.mobile-menu {
    display: none;
}

.mobile-menu ul {
    width: 300px;
    list-style: none;
}

.mobile-menu ul li {
    margin-top: 5px;
}

.mobile-menu ul a {
    text-decoration: none;
    color: #222;
    text-align: center;
}

@media screen and (max-width: 520px) {

    .burger {
        display: flex;
        flex-direction: column;
        justify-self: end;
        align-items: flex-end;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
        }
    }

    .mobile-menu.active {
        display: block;
        /* position: absolute; */

    }
}