@media screen and (max-width: 1220px) {
    .container {
            margin: 0 auto;
            max-width: 1090px;
            /* padding: 0 var(--container-padding-inline); */
            position: relative;  
            padding: 0 15px; 
    }

    .promo-img {
        top: -143px;
        max-width: 485px;
        height: auto;
    }

    .warranty-img {
        max-width: 485px;  
    }

    .warranty-text {
        max-width: 370px;
        padding-top: 100px;
    }

    .care-img {
        max-width: 485px;
    }

    .care-text {
        max-width: 340px;
        padding-top: 40px;
    }

    .shopping-mastercard-img {
        max-width: 485px;
    }

    .shopping-mastercard-text {
        max-width: 330px;
        padding-top: 100px;
    }

    .fees-img {
        max-width: 485px;
    }

    .fees-text {
        max-width: 375px;
        padding-top: 10px;
    }

    .account-many-img {
        max-width: 485px;
    }

    .account-many-text {
        max-width: 320px;
        padding-top: 10px;   
    }

    .quick-img {
        max-width: 485px;
    }

    .quick-text {
        max-width: 375px;
        padding-top: 10px;   
    }
}




@media screen and (max-width: 1024px) {
    .container {
            margin: 0 auto;
            max-width: 900px;
            /* padding: 0 var(--container-padding-inline); */
            position: relative;   
            padding: 0 15px;
    }

    h3 {
        font-size: 24px;
    }

    .promo {
        padding-top: 154px;   
    }

    .promo-img {
        top: -93px;
        max-width: 485px;
        height: auto;
    }

    .warranty .container {
        gap: 68px;
    }

    .warranty-img {
        max-width: 430px;  
    }

    .warranty-text {
        max-width: 370px;
        padding-top: 100px;
    }

    .care .container {
        gap: 68px;
    }

    .care-img {
        max-width: 485px;
    }

    .care-text {
        max-width: 315px;
        padding-top: 40px;
    }

    .shopping-mastercard .container {
        gap: 110px;
    }

    .shopping-mastercard-img {
        max-width: 430px;
    }

    .shopping-mastercard-text {
        max-width: 330px;
        padding-top: 100px;
    }

    .fees .container {
        gap: 68px;
    }

    .fees-img {
        max-width: 465px;
    }

    .fees-text {
        max-width: 335px;
        padding-top: 10px;
    }

    .account-many .container {
        gap: 70px;
    }

    .account-many-img {
        max-width: 455px;
    }

    .account-many-text {
        max-width: 345px;
        padding-top: 10px;   
    }

    .quick .container {
        gap: 68px;
    }

    .quick-img {
        max-width: 430px;
    }

    .quick-text {
        max-width: 370px;
        padding-top: 10px;   
    }
}


@media screen and (max-width: 900px) {
    .container {
            margin: 0 auto;
            max-width: 720px;
            /* padding: 0 var(--container-padding-inline); */
            position: relative;   
            padding: 0;
    }

    h1 {
        font-size: 36px
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .promo {
        padding-top: 100px;   
    }

    .promo-img {
        top: -43px;
        max-width: 390px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 280px;  
    }

    .warranty-text {
        max-width: 370px;
        padding-top: 25px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 315px;
    }

    .care-text {
        max-width: 340px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }


    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }


    .shopping-mastercard-img {
        max-width: 325px;
    }

    .shopping-mastercard-text {
        max-width: 300px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 345px;
    }

    .fees-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 325px;
    }

    .account-many-text {
        max-width: 325px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 325px;
    }

    .quick-text {
        max-width: 325px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}



@media screen and (max-width: 768px) {
    .container {
            margin: 0 auto;
            max-width: 100%;
            /* padding: 0 var(--container-padding-inline); */
            position: relative; 
            padding: 15px;  
    }

    .btn-outline {
        display: none;
    }

    .footer_bottom img {
        display: none;
    }

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    .promo {
        padding-top: 90px;   
    }

    .promo-img {
        top: -43px;
        max-width: 350px;
        right: 15px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 310px;  
    }

    .warranty-text {
        max-width: 390px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 310px;
    }

    .care-text {
        max-width: 355px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }


    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }


    .shopping-mastercard-img {
        max-width: 310px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 310px;
    }

    .fees-text {
        max-width: 355px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 310px;
    }

    .account-many-text {
        max-width: 380px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 310px;
    }

    .quick-text {
        max-width: 355px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 678px) {
    .container {
            width: 100%;
            padding: 0  15px;
    }

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    .promo {
        padding-top: 90px;   
    }

    .promo-img {
        top: -13px;
        max-width: 300px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 275px;  
    }

    .warranty-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 260px;
    }

    .care-text {
        max-width: 330px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }

    .cashback p {
        margin: 5px auto;
        max-width: 550px;
        color: #222;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px; 
    }

    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }

    .shopping-mastercard .container {
        gap: 68px;
    }   


    .shopping-mastercard-img {
        max-width: 255px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 310px;
    }

    .fees-text {
        max-width: 290px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 310px;
    }

    .account-many-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 310px;
    }

    .quick-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}
@media screen and (max-width: 630px) {
    .container {
            width: 100%;
            padding: 0  15px;
    }

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    .promo {
        padding-top: 90px;   
    }

    .promo-img {
        top: -13px;
        max-width: 250px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 275px;  
    }

    .warranty-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 260px;
    }

    .care-text {
        max-width: 330px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }

    .cashback p {
        margin: 5px auto;
        max-width: 550px;
        color: #222;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px; 
    }

    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }

    .shopping-mastercard .container {
        gap: 68px;
    }   


    .shopping-mastercard-img {
        max-width: 255px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 310px;
    }

    .fees-text {
        max-width: 290px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 310px;
    }

    .account-many-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 310px;
    }

    .quick-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 580px) {
    .container {
            width: 100%;
            padding: 0  15px;
    }

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    .promo {
        padding-top: 90px;   
    }

    .promo-img {
        top: -13px;
        max-width: 230px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 275px;  
    }

    .warranty-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 260px;
    }

    .care-text {
        max-width: 330px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }

    .cashback p {
        margin: 5px auto;
        max-width: 450px;
        color: #222;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px; 
    }

    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }

    .shopping-mastercard .container {
        gap: 68px;
    }   


    .shopping-mastercard-img {
        max-width: 255px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 310px;
    }

    .fees-text {
        max-width: 290px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 310px;
    }

    .account-many-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 310px;
    }

    .quick-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 580px) {
    .container {
            width: 100%;
            padding: 0  15px;
    }

    h1 {
        font-size: 24px
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    .promo {
        padding-top: 90px;   
    }

    .promo-img {
        top: -13px;
        max-width: 200px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 275px;  
    }

    .warranty-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 260px;
    }

    .care-text {
        max-width: 330px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }

    .cashback p {
        margin: 5px auto;
        max-width: 450px;
        color: #222;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px; 
    }

    .grid-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px; 
    }

    .shopping-mastercard .container {
        gap: 68px;
    }   


    .shopping-mastercard-img {
        max-width: 255px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 310px;
    }

    .fees-text {
        max-width: 290px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 310px;
    }

    .account-many-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 310px;
    }

    .quick-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 520px) {
    .container {
            width: 100%;
            padding: 0  15px;
    }

    h1 {
        font-size: 20px
        
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }

    .main-nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-menu.active {
        display: block;
    }


    .promo {
        padding-top: 50px;  
        /* text-align: center;  */
    }

    .promo-img {
        /* display: none; */
        top: 73px;
        max-width: 100px;
        height: auto;
    }

    .promo-descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 400;
    }

    .download-links {
        /* display: flex; */
        flex-direction: row;
    }

    .download-links img {
        max-width: 120px;
    }

    .warranty-img {
        max-width: 75px;  
    }

    .warranty-text {
        max-width: 300px;
        padding-top: 10px;
    }

    .warranty-text p {
        font-size: 14px;
    }

    .care-img {
        max-width: 73px;
    }

    .care-text {
        max-width: 330px;
        padding-top: 30px;
    }

    .care-text p {
        font-size: 14px;
    }

    .cashback p {
        margin: 5px auto;
        max-width: 250px;
        color: #222;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.92px; 
    }

    .grid-partners {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        row-gap: 20px; 
    }

    .shopping-mastercard .container {
        gap: 68px;
    }   


    .shopping-mastercard-img {
        max-width: 75px;
    }

    .shopping-mastercard-text {
        max-width: 320px;
        padding-top: 60px;
    }

    .shopping-mastercard-text p {
        font-size: 14px;
    }

    .fees-img {
        max-width: 75px;
    }

    .fees-text {
        max-width: 290px;
        padding-top: 10px;
    }

    .fees-text p {
        font-size: 14px;
    }

    .account-many-img {
        max-width: 75px;
    }

    .account-many-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .account-many-text p {
        font-size: 14px;
    }

    .quick-img {
        max-width: 75px;
    }

    .quick-text {
        max-width: 265px;
        padding-top: 10px;   
    }

    .quick-text p {
        font-size: 14px;
    }
}